# Server listen address inside container
GOTUNNEL_CONTROL_ADDR=:6000
GOTUNNEL_VISITOR_ADDR=:6001

# Host ports
GOTUNNEL_CONTROL_PORT=6000
GOTUNNEL_VISITOR_PORT=6001

# true/false
GOTUNNEL_DEBUG=false
